$first-bg-color: #fff5f6;
$second-bg-color: #e5e5e5;
$hero-bg-color: #ffb8ca;
$hero-accent-bg-color: #ffa5ba;
$title-text-color: #d41443;
$primary-text-color: #ffffff;
$black-text-color: #000000;
$grey-text-color: #907e82;
$coffee-bg-color: #f0d1a5;
$milkshakes-bg-color: #c2e297;
$grey-bg-color: #fafafa;
$red-button: #d41342;
$red-button-hover: #c7133e;
$white-button-hover: #ecebeb;
$modal-bg-color: #e17992;
$footer-icon-bg: #fea5bb;
$copyright-border: #e1e1e1;

$main-font: 'DM Sans', sans-serif;
$title-font: 'Titan One', cursive;
$text-cl-white: #ffffff;
$text-cl-red: #d41443;
