$first-bg-color: #fff5f6;
$second-bg-color: #e5e5e5;
$hero-bg-color: #ffb8ca;
$hero-accent-bg-color: #ffa5ba;
$title-text-color: #d41443;
$primery-text-color: #ffffff;
$black-text-color: #000000;
$grey-text-color: #907e82;
$cofee-bg-color: #f0d1a5;
$milkshakes-bg-color: #c2e297;
$grey-bg-color: #fafafa;
$red-button-hover: #c7133e;
$white-button-hover: #ecebeb;
$modal-bg-color: #e17992;

$main-font: 'DM Sans', sans-serif;
$title-font: 'Titan One', cursive;
