<section class="contacts" id="Contact">
  <div class="container">
    <h2 class="visually-hidden">contacts</h2>
    <ul class="contact__list">
      <li class="contact__item wow slideInLeft" data-wow-offset="100" data-wow-duration="2s">
        <p class="contact__cafe">cafe</p>

        <p class="contact__text-town">Chicago</p>
        <p class="contact__text-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="cafe__worktime-list">
          <li class="cafe__worktime-item">
            <p class="contact__text-primary">Monday - Friday</p>
            <p class="contact__text-secondary">06:00 AM - 10:00 PM</p>
          </li>
          <li class="cafe__worktime-item">
            <p class="contact__text-primary">Saturday - Sunday</p>
            <p class="contact__text-secondary">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contact__address-list">
          <li class="contact__address-item">
            <a class="contact__address-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contact__address-item">
            <a class="contact__address-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contact__item">
        <p class="contact__foodtrack">foodtruck</p>

        <p class="contact__text-town">Los Angeles</p>
        <p class="contact__text-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="cafe__worktime-list">
          <li class="cafe__worktime-item">
            <p class="contact__text-primary">Monday - Friday</p>
            <p class="contact__text-secondary">06:00 AM - 10:00 PM</p>
          </li>
          <li class="cafe__worktime-item">
            <p class="contact__text-primary">Saturday - Sunday</p>
            <p class="contact__text-secondary">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contact__address-list">
          <li class="contact__address-item">
            <a class="contact__address-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contact__address-item">
            <a class="contact__address-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contact__item wow slideInRight" data-wow-offset="100" data-wow-duration="2s">
        <p class="contact__cafe">cafe</p>

        <p class="contact__text-town">New York</p>
        <p class="contact__text-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="cafe__worktime-list">
          <li class="cafe__worktime-item">
            <p class="contact__text-primary">Monday - Friday</p>
            <p class="contact__text-secondary">06:00 AM - 10:00 PM</p>
          </li>
          <li class="cafe__worktime-item">
            <p class="contact__text-primary">Saturday - Sunday</p>
            <p class="contact__text-secondary">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contact__address-list">
          <li class="contact__address-item">
            <a class="contact__address-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contact__address-item">
            <a class="contact__address-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contact__buttons">
      <button type="button" class="contact__button-first modal__contacts-open">
        Our Locations
        <svg width="10px" height="10px">
          <use href="./images/symbol-defs.svg#short-arrow-white"></use>
        </svg>
      </button>
      <button type="button" class="contact__button-second modal__contacts-open">
        Franchise
        <svg width="10px" height="10px">
          <use href="./images/symbol-defs.svg#short-arrow-red"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<!-- modal window -->

<div class="modal__contacts" id="modal1">
  <iframe
    class="map dialog"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8998.193179171803!2d73.23870258568628!3d-0.5781564503101206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x24b59dea661ad3e5%3A0xf85b0893ec8d8c9a!2sDhonveligando%20Fanno%20Beach!5e1!3m2!1sru!2scz!4v1623268282832!5m2!1sru!2scz"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
</div>
