<section class="contacts">
    <div class="container">
        <ul class="contact__list">
            <li class="contact__item">
                <p class="contact__cafe">cafe</p>

                <p class="contact__text-town">Chicago</p>
                <p class="contact__text-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="cafe__worktime-list">
                    <li class="cafe__worktime-item">
                        <p class="contact__text-primary">Monday - Friday</p>
                        <p class="contact__text-secondary">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="cafe__worktime-item">
                        <p class="contact__text-primary">Saturday - Sunday</p>
                        <p class="contact__text-secondary">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contact__address-list">
                    <li class="contact__address-item"><a class="contact__address-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                    <li class="contact__address-item"><a class="contact__address-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>

            </li>
            <li class="contact__item">
                <p class="contact__foodtrack">foodtruck</p>

                <p class="contact__text-town">Los Angeles</p>
                <p class="contact__text-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="cafe__worktime-list">
                    <li class="cafe__worktime-item">
                        <p class="contact__text-primary">Monday - Friday</p>
                        <p class="contact__text-secondary">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="cafe__worktime-item">
                        <p class="contact__text-primary">Saturday - Sunday</p>
                        <p class="contact__text-secondary">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contact__address-list">
                    <li class="contact__address-item"><a class="contact__address-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                    <li class="contact__address-item"><a class="contact__address-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>

            </li>
            <li class="contact__item">
                <p class="contact__cafe">cafe</p>

                <p class="contact__text-town">New York</p>
                <p class="contact__text-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="cafe__worktime-list">
                    <li class="cafe__worktime-item">
                        <p class="contact__text-primary">Monday - Friday</p>
                        <p class="contact__text-secondary">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="cafe__worktime-item">
                        <p class="contact__text-primary">Saturday - Sunday</p>
                        <p class="contact__text-secondary">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contact__address-list">
                    <li class="contact__address-item"><a class="contact__address-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                    <li class="contact__address-item"><a class="contact__address-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>

            </li>
        </ul>
        <div class="contact__buttons">
            <button type="button" class="contact__button-first">Our Locations <svg width="10px" height="10px">
                    <use href="./images/symbol-defs.svg#short-arrow-white"></use>
                </svg></button>
            <button type="button" class="contact__button-second">Franchise <svg width="10px" height="10px">
                    <use href="./images/symbol-defs.svg#short-arrow-red"></use>
                </svg></button>
        </div>
    </div>
</section>