<section class="how-made splash" id="How it’s made?">
  <div class="container">
    <p class="products__title-label">tradition and love</p>
    <h2 class="products__title">how it’s made?</h2>
    <div class="features">
      <div class="pic">
        <picture>
          <source
            srcset="./images/cow/desktop-cow@1x.png 1x, ./images/cow/desktop-cow@2x.png 2x"
            media="(min-width: 1280px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/cow/tablet-cow@1x.png 1x, ./images/cow/tablet-cow@2x.png 2x"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/cow/mobile-cow@1x.png 1x, ./images/cow/mobile-cow@2x.png 2x"
            media="(min-width: 320px)"
            type="image/jpeg"
          />
          <img src="./images/cow/mobile-cow@1x.png" alt="icecream cow" />
        </picture>
      </div>
      <div class="features__text">
        <p class="text__black">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="text__dark">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <div class="button">
          <button class="read__more" type="button" data-modal__open>Read more</button>
          <svg class="arrow" width="5" height="8">
            <use href="./images/cow/sprite.svg#bracket"></use>
          </svg>
        </div>
      </div>
    </div>
    <h2 class="visually-hidden">Пейте дети молоко - будете здоровы!</h2>
    <ul class="feature__list">
      <li class="feature__item backet">
        <p class="feature__title">721</p>
        <p class="text__bold">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="feature__item apples">
        <p class="feature__title">16kg</p>
        <p class="text__bold">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="feature__item heart">
        <p class="feature__title">84</p>
        <p class="text__bold">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
