
<section class="how-made" id="how">
  <div class="container splash">
    <p
      class="products__title-label wow tada"
      data-wow-offset="200"
      data-wow-duration="2s"
      data-wow-delay="0.3s"
    >
      tradition and love
    </p>

    <h2 class="products__title">how it’s made?</h2>
    <div class="features">
      <div class="pic">
        <picture>
          <source
            srcset="./images/cow/desktop-cow@1x.png 1x, ./images/cow/desktop-cow@2x.png 2x"
            media="(min-width: 1280px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/cow/tablet-cow@1x.png 1x, ./images/cow/tablet-cow@2x.png 2x"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/cow/mobile-cow@1x.png 1x, ./images/cow/mobile-cow@2x.png 2x"
            media="(min-width: 320px)"
            type="image/jpeg"
          />
          <img src="./images/cow/mobile-cow@1x.png" alt="icecream cow" />
        </picture>
      </div>
      <div class="features__text">
        <p class="text__black">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="text__dark">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <div class="button">

          <button class="read__more" type="button" data-modal-open-cow>
            Read more
            <svg class="arrow" width="5" height="8">
              <use href="./images/cow/sprite.svg#bracket"></use>
            </svg>
          </button>

        </div>
      </div>
    </div>
    <h2 class="visually-hidden">Пейте дети молоко - будете здоровы!</h2>
    <ul class="feature__list">
      <li class="feature__item backet">
        <p class="feature__title">721</p>
        <p class="text__bold">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="feature__item apples">
        <p class="feature__title">16kg</p>
        <p class="text__bold">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="feature__item heart">
        <p class="feature__title">84</p>
        <p class="text__bold">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
<!-- Модальное окно -->
<div class="backdrop is-hidden" data-modal-cow>
  <div class="modal">
    <div class="wrapper-modal modal--cow">
      <button type="button" class="modal__btn" data-modal-close-cow>
        <svg class="modal__icon">
          <use href="./images/symbol-defs.svg#close-black"></use>
        </svg>
      </button>
      <h3 class="products__title-label products__title-label--white">how it's made?</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </div>
  </div>
</div>
