<footer class="footer">
    <div class="container">
    <ul class="footer__list">
        <li class="footer__item">
            <p class="footer__cafe">cafe</p>
            
            <p class="footer__text-town">Chicago</p>
            <p class="footer__text-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            <ul class="cafe__worktime-list">
                <li class="cafe__worktime-item">
                        <p class="footer__text-primary">Monday - Friday</p>
                        <p class="footer__text-secondary">06:00 AM - 10:00 PM</p>
                </li>
                <li class="cafe__worktime-item">
                        <p class="footer__text-primary">Saturday - Sunday</p>
                        <p class="footer__text-secondary">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <ul class="footer__address-list">
                <li><a class="footer__address-item" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                <li><a class="footer__address-item" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>

        </li>
        <li class="footer__item">
            <p class="footer__foodtrack">foodtruck</p>
            
                <p class="footer__text-town">Los Angeles</p>
                <p class="footer__text-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
           
            <ul class="cafe__worktime-list">
                <li class="cafe__worktime-item">
                    <p class="footer__text-primary">Monday - Friday</p>
                    <p class="footer__text-secondary">06:00 AM - 10:00 PM</p>
                </li>
                <li class="cafe__worktime-item">
                    <p class="footer__text-primary">Saturday - Sunday</p>
                    <p class="footer__text-secondary">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <ul class="footer__address-list">
                <li><a class="footer__address-item" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                <li><a class="footer__address-item" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>

        </li>
        <li class="footer__item">
            <p class="footer__cafe">cafe</p>
            
                <p class="footer__text-town">New York</p>
                <p class="footer__text-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            <ul class="cafe__worktime-list">
                <li class="cafe__worktime-item">
                    <p class="footer__text-primary">Monday - Friday</p>
                    <p class="footer__text-secondary">06:00 AM - 10:00 PM</p>
                </li>
                <li class="cafe__worktime-item">
                    <p class="footer__text-primary">Saturday - Sunday</p>
                    <p class="footer__text-secondary">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <ul class="footer__address-list">
                <li><a class="footer__address-item" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                <li><a class="footer__address-item" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>

        </li>
    </ul>
    <div class="footer__buttons">       
        <button type="button" class="footer__button-first">Our Locations</button>
        <button type="button" class="footer__button-second">Franchise</button>        
    </div>
    <p class="footer__title-label">homemade ice cream made</p>
    <h2 class="footer__title">with passion</h2>
    <div class="footer__contact">
        <ul class="footer-social__list">
            <li class="footer-social__item">
                <a class="footer-social__link" href="" target="_blank" rel="noopener noreferrer" aria-label="github link">
                    <svg class="footer-social__image" width="20px" height="20px">
                        <use href="./images/symbol-defs.svg#git"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social__item">
                <a class="footer-social__link" href="" target="_blank" rel="noopener noreferrer" aria-label="telegram link">
                    <svg class="footer-social__image" width="20px" height="20px">
                        <use href="./images/symbol-defs.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social__item">
                <a class="footer-social__link" href="" target="_blank" rel="noopener noreferrer" aria-label="facebook link">
                    <svg class="footer-social__image" width="20px" height="20px">
                        <use href="./images/symbol-defs.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="footer__contact-tel">Feel free to contact <a class="footer__contact-number" href="tel:+61(0)383766284">+61 (0) 383
                766 284</a></p>
    </div>
    </div>
    <p class="copyright">© 2019 - IceCream.
    All Rights Reserved.</p>
</footer>
