<footer class="footer">
    <div class="container">
    <ul class="footer__list">
        <li class="footer__item">
            <p>cafe</p>
            <div>
            <p>Chicago</p>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
            </div>
            <div>
                <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>

        </li>
        <li class="footer__item">
            <p>foodtruck</p>
            <div>
                <p>Los Angeles</p>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
            </div>
            <div>
                <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>

        </li>
        <li class="footer__item">
            <p>cafe</p>
            <div>
                <p>New York</p>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
            </div>
            <div>
                <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>

        </li>
    </ul>
    <div class="footer__buttons"></div>
        <button type="button" class="footer__button-first">Our Locations</button>
        <button type="button" class="footer__button-second">Franchise</button>
    
    <p class="footer__title-label">homemade ice cream made</p>
    <h2 class="footer__title">with passion</h2>
    <div class="footer__contact">
        <ul class="footer-social__list">
            <li class="footer-social__item">
                <a class="footer-social__link" href="" target="_blank" rel="noopener noreferrer" aria-label="github link">
                    <svg class="footer-social__image">
                        <use></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social__item">
                <a class="footer-social__link" href="" target="_blank" rel="noopener noreferrer" aria-label="telegram link">
                    <svg class="footer-social__image">
                        <use></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social__item">
                <a class="footer-social__link" href="" target="_blank" rel="noopener noreferrer" aria-label="facebook link">
                    <svg class="footer-social__image">
                        <use></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="footer__contact-tel">Feel free to contact <a class="footer__contact-number" href="tel:+61(0)383766284">+61 (0) 383
                766 284</a></p>
    </div>
    </div>
    <p class="copyright">© 2019 - IceCream.
    All Rights Reserved.</p>
</footer>
