<section class="gallery">
    <div class="conteiner">
        <h2 class="visually-hidden">Gallery</h2>
    <ul>
        <li>
            <picture>
                <source srcset="../images/gallery/desktop/normal/img-desktop1.jpg 1x, ../images/gallery/desktop/2x/img-desktop1@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg"/>
                <source srcset="../images/gallery/tablet/normal/img-tablet1 1x, ../images/gallery/tablet/2x/img-tablet1@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg"/>
                <source srcset="../images/gallery/mobile/normal/img-mobile1 1x, ../images/gallery/mobile/2x/img-mobile1@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg"/>
                <img
                src="../images/gallery/mobile/normal/img-mobile1.jpg"
                width="450"
                height="460"
                alt=""
            />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="../images/gallery/desktop/normal/img-desktop2.jpg 1x, ../images/gallery/desktop/2x/img-desktop2@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg"/>
                <source srcset="../images/gallery/tablet/normal/img-tablet2 1x, ../images/gallery/tablet/2x/img-tablet2@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg"/>
                <source srcset="../images/gallery/mobile/normal/img-mobile2 1x, ../images/gallery/mobile/2x/img-mobile2@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg"/>
                <img
                src="../images/gallery/mobile/normal/img-mobile2.jpg"
                width="450"
                height="460"
                alt=""
            />
            </picture>
        </li>
        <li> 
            <picture>
            <source srcset="../images/gallery/desktop/normal/img-desktop3.jpg 1x, ../images/gallery/desktop/2x/img-desktop3@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg"/>
            <source srcset="../images/gallery/tablet/normal/img-tablet3.jpg 1x, ../images/gallery/tablet/2x/img-tablet3@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg"/>
            <source srcset="../images/gallery/mobile/normal/img-mobile3.jpg 1x, ../images/gallery/mobile/2x/img-mobile3@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg"/>
            <img
            src="../images/gallery/mobile/normal/img-mobile3.jpg"
            width="450"
            height="460"
            alt=""
        />
        </picture>
    </li>
        <li>
            <picture>
                <source srcset="../images/gallery/desktop/normal/img-desktop4.jpg 1x, ../images/gallery/desktop/2x/img-desktop4@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg"/>
                <source srcset="../images/gallery/tablet/normal/img-tablet4.jpg 1x, ../images/gallery/tablet/2x/img-tablet4@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg"/>
                <source srcset="../images/gallery/mobile/normal/img-mobile4.jpg 1x, ../images/gallery/mobile/2x/img-mobile4@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg"/>
                <img
                src="../images/gallery/mobile/normal/img-mobile4.jpg"
                width="450"
                height="460"
                alt=""
            />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="../images/gallery/desktop/normal/img-desktop5.jpg 1x, ../images/gallery/desktop/2x/img-desktop5@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg"/>
                <source srcset="../images/gallery/tablet/normal/img-tablet5.jpg 1x, ../images/gallery/tablet/2x/img-tablet5@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg"/>
                <source srcset="../images/gallery/mobile/normal/img-mobile5.jpg 1x, ../images/gallery/mobile/2x/img-mobile5@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg"/>
                <img
                src="../images/gallery/mobile/normal/img-mobile5.jpg"
                width="450"
                height="460"
                alt=""
            />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="../images/gallery/desktop/normal/img-desktop6.jpg 1x, ../images/gallery/desktop/2x/img-desktop6@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg"/>
                <source srcset="../images/gallery/tablet/normal/img-tablet6.jpg 1x, ../images/gallery/tablet/2x/img-tablet6@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg"/>
                <source srcset="../images/gallery/mobile/normal/img-mobile6.jpg 1x, ../images/gallery/mobile/2x/img-mobile6@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg"/>
                <img
                src="../images/gallery/mobile/normal/img-mobile6.jpg"
                width="450"
                height="460"
                alt=""
            />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="../images/gallery/desktop/normal/img-desktop7.jpg 1x, ../images/gallery/desktop/2x/img-desktop7@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg"/>
                <source srcset="../images/gallery/tablet/normal/img-tablet7.jpg 1x, ../images/gallery/tablet/2x/img-tablet7@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg"/>
                <source srcset="../images/gallery/mobile/normal/img-mobile7.jpg 1x, ../images/gallery/mobile/2x/img-mobile7@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg"/>
                <img
                src="../images/gallery/mobile/normal/img-mobile7.jpg"
                width="450"
                height="460"
                alt=""
            />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="../images/gallery/desktop/normal/img-desktop8.jpg 1x, ../images/gallery/desktop/2x/img-desktop8@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg"/>
                <source srcset="../images/gallery/tablet/normal/img-tablet8.jpg 1x, ../images/gallery/tablet/2x/img-tablet8@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg"/>
                <source srcset="../images/gallery/mobile/normal/img-mobile8.jpg 1x, ../images/gallery/mobile/2x/img-mobile8@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg"/>
                <img
                src="../images/gallery/mobile/normal/img-mobile8.jpg"
                width="450"
                height="460"
                alt=""
            />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="../images/gallery/desktop/normal/img-desktop9.jpg 1x, ../images/gallery/desktop/2x/img-desktop9@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg"/>
                <source srcset="../images/gallery/tablet/normal/img-tablet9.jpg 1x, ../images/gallery/tablet/2x/img-tablet9@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg"/>
                <source srcset="../images/gallery/mobile/normal/img-mobile9.jpg 1x, ../images/gallery/mobile/2x/img-mobile9@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg"/>
                <img
                src="../images/gallery/mobile/normal/img-mobile9.jpg"
                width="450"
                height="460"
                alt=""
            />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="../images/gallery/desktop/normal/img-desktop10.jpg 1x, ../images/gallery/desktop/2x/img-desktop10@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg"/>
                <source srcset="../images/gallery/tablet/normal/img-tablet10.jpg 1x, ../images/gallery/tablet/2x/img-tablet10@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg"/>
                <source srcset="../images/gallery/mobile/normal/img-mobile10.jpg 1x, ../images/gallery/mobile/2x/img-mobile10@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg"/>
                <img
                src="../images/gallery/mobile/normal/img-mobile10.jpg"
                width="450"
                height="460"
                alt=""
            />
            </picture>
        </li>
    </ul>
</div>
</section>
