<header class="header">
  <div class="container">
    <nav class="navigation">
      <div class="header_menu">
        <div class="header-desktop">
          <a href="" class="header_logo">
            <picture>
              <source
                srcset="
                  ./images/header/desktop/logo_desktop.png    1x,
                  ./images/header/desktop/logo@2x_desktop.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/header/tablet/logo_tablet.png    1x,
                  ./images/header/tablet/logo@2x_tablet.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/header/mobile/logo_mobile.png    1x,
                  ./images/header/mobile/logo@2x_mobile.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./images/header/desktop/logo_desktop.png" width="199" alt="logo" />
            </picture>
          </a>
          <div class="menu"><button class="menu__btn" data-menu-open></button></div>
        </div>
        <ul class="header_list">
          <li class="header_list-contacts header__list-margin current">Home</li>
          <li class="header_list-contacts header__list-margin">About us</li>
          <li class="header_list-contacts header__list-margin">How it’s made?</li>
          <li class="header_list-contacts header__list-margin">Our products</li>
          <li class="header_list-contacts header__list-margin">Contact</li>
        </ul>
        <button class="header_button-first" type="button">Buy now</button>
      </div>
    </nav>
    <div class="header_circle">
      <picture>
        <source
          srcset="
            ./images/header/desktop/Ellipse_desktop.png    1x,
            ./images/header/desktop/Ellipse@2x_desktop.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/header/tablet/Ellipse_tablet.png    1x,
            ./images/header/tablet/Ellipse@2x_tablet.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/header/mobile/Ellipse_mobile.png    1x,
            ./images/header/mobile/Ellipse@2x_mobile.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/header/desktop/Ellipse_desktop.png" width="558" alt="circile" class="" />
      </picture>

    </a>
    <div class="menu"><button class="menu__btn"></button>
    </div>
  </div>
<ul class="header_list">
        <li class="header_list-contacts header__list-margin current"><a href="#">Home</a></li>
        <li class="header_list-contacts header__list-margin"><a href="">About us</a></li>
        <li class="header_list-contacts header__list-margin"><a href="">How it’s made?</a></li>
        <li class="header_list-contacts header__list-margin"><a href="">Our products</a></li>
        <li class="header_list-contacts header__list-margin"><a href="">Contact</a></li>
      </ul>
<button class="header_button-first" type="button">Buy now
<svg class="icon" width="10" height="10">
                <use href="./images/header/sprite.svg#icon-Vector"></use>
            </svg></button>
      <svg class="icon-elipse" width="30" height="30">
                <use href="./images/header/sprite.svg#icon-Ellipse-1-1"></use>
            </svg>
            <p class="number">16</p>
            <p class="text">cafes</p>
            <svg class="icon-elipse icon-elipse-two">
                <use href="./images/header/sprite.svg#icon-Ellipse-1-1"></use>
            </svg>
            <p class="number number-two">23</p>
            <p class=" text text-second">food trucks</p>
</div>
  </nav>
      <div class="header_circle">
        <picture>
              <source srcset="./images/header/desktop/Ellipse_desktop.png 1x, ./images/header/desktop/Ellipse@2x_desktop.png 2x"
                media="(min-width: 1200px)">
              <source srcset="./images/header/tablet/Ellipse_tablet.png 1x, ./images/header/tablet/Ellipse@2x_tablet.png 2x"
                media="(min-width: 768px)">
                <source srcset="./images/header/mobile/Ellipse_mobile.png 1x, ./images/header/mobile/Ellipse@2x_mobile.png 2x"
                  media="(max-width: 767px)">
<img src="./images/header/desktop/Ellipse_desktop.png" width="488" alt="circile" class="">
                </picture>
      </div>
  <div class="header_background-image">
<div class="header-group">
  <div class="ice-cream">
  <picture>
    <source srcset="./images/header/desktop/slider-pic7_desktop.png 1x, ./images/header/desktop/slider-pic@2x_desktop.png 2x"
   media="(min-width: 1200px)">
    <source srcset="./images/header/tablet/slider-pic7_tablet.png 1x, ./images/header/tablet/slider-pic7@2x_tablet.png 2x"
   media="(min-width: 768px)">
    <source srcset="./images/header/mobile/slider-pic7_mobile.png 1x, ./images/header/mobile/slider-pic7@2x_mobile.png 2x"
   media="(max-width: 767px)">
<img src="./images/header/desktop/slider-pic7_desktop.png" width="236" alt="ice-cream" >
</picture>
<div>
       <h1 class="header_title">ice cream <br> made with <br> <span class="header_title-span">passion</span> </h1>
       <button class="header_button" type="button">Products</button>
 <button class="header_button header-btn" type="button">How it’s made?</button>
</div>
</div>
  </div>
  <div class="header-foto">
    <picture>
      <source srcset="./images/header/desktop/slider-pic5_desktop.png 1x, ./images/header/desktop/slider@2x_desktop.png 2x"
        media="(min-width: 1200px)">
      <source srcset="./images/header/tablet/slider-pic_tablet.png 1x, ./images/header/tablet/slider-pic@2x_tablet.png 2x"
        media="(min-width: 768px)">
      <img src="./images/header/desktop/slider-pic5_desktop.png" width="188" alt="milk">
        </picture>
        </div>
        <div>
        <p class="header_text">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod tempor <br> incididunt ut labore et</p>
<button type="button" class="button-arrow">
        <svg class="icon-arrow" width="26" height="26">
                <use href="./images/header/sprite.svg#arrow-right"></use>
            </svg>
            </button>
            </div>
<div class="header_girl">
<picture>
      <source srcset="./images/header/desktop/slider-pic4_desktop.png 1x, ./images/header/desktop/slider-pic4@2x_desktop.png 2x"
        media="(min-width: 1200px)">
      <source srcset="./images/header/tablet/slider-pic4_tablet.png 1x, ./images/header/tablet/slider-pic4@2x_tablet.png 2x"
        media="(min-width: 768px)">
      <img src="./images/header/desktop/slider-pic4_desktop.png" width="293" alt="milk">
        </picture>
        </div>
</div>
</div>

    </div>
    <div class="header_background-image">
      <div class="header-group">
        <div class="ice-cream">
          <picture>
            <source
              srcset="
                ./images/header/desktop/slider-pic7_desktop.png   1x,
                ./images/header/desktop/slider-pic@2x_desktop.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/header/tablet/slider-pic7_tablet.png    1x,
                ./images/header/tablet/slider-pic7@2x_tablet.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/header/mobile/slider-pic7_mobile.png    1x,
                ./images/header/mobile/slider-pic7@2x_mobile.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/header/desktop/slider-pic7_desktop.png"
              width="236"
              alt="ice-cream"
            />
          </picture>
        </div>
        <h1 class="header_title">
          ice cream <br />
          made with <br />
          <span class="header_title-span">passion</span>
        </h1>
        <button class="header_button" type="button">Products</button>
        <button class="header_button header-btn" type="button">How it’s made?</button>
      </div>
    </div>
    <div class="header-foto">
      <picture>
        <source
          srcset="
            ./images/header/desktop/slider-pic5_desktop.png 1x,
            ./images/header/desktop/slider@2x_desktop.png   2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/header/tablet/slider-pic_tablet.png    1x,
            ./images/header/tablet/slider-pic@2x_tablet.png 2x
          "
          media="(min-width: 768px)"
        />
        <img src="./images/header/desktop/slider-pic5_desktop.png" width="188" alt="milk" />
      </picture>
    </div>
    <p class="header_text">
      Lorem ipsum dolor sit amet,<br />
      consectetur adipiscing elit,<br />
      sed do eiusmod tempor <br />
      incididunt ut labore et
    </p>
  </div>

</header>
