<header class="header">
<div class="container">
  <nav class="navigation">
    <div class="header_menu">
      <a href="" class="header_logo">
      <img src="./images/logo.png" width="199" height="50" alt="logo">
    </a>
    <div class="menu"><button class="menu__btn"></button></div></div>
<ul class="header_list">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
  </nav>
    <div class="header_circle"></div>
  <div class="header_background-image">
<div class="header_group">
<img src="./images/slider-pic7-1.png" alt="ice-cream" class="ice-cream">
       <h1 class="header_title">ice cream <br> made with <br> <span class="header_title-span">passion</span> </h1>
 <button class="header_button" type="button">Products</button>
 <button class="header_button header-btn" type="button">How it’s made?</button>

</div>
</div>
</div>
</header>

