<div class="mobile-menu is-hidden" data-menu>
  <div class="container">
    <button class="mobile__btn" data-menu-close>
      <svg class="mobile__icon">
        <use class="mobile__icon--close" href="./images/symbol-defs.svg#close-black"></use>
      </svg>
    </button>
    <div class="mobile-menu-content">
      <button type="button" class="mobile-menu__btn">
        Buy now<svg class="mobile-menu-icon">
          <use href="./images/symbol-defs.svg#short-arrow-red"></use>
        </svg>
      </button>
      <nav>
        <ul class="header__list">
          <li class="header__item current"><a class="header__link" href="#">Home</a></li>
          <li class="header__item"><a class="header__link" href="">About us</a></li>
          <li class="header__item"><a class="header__link" href="">How it’s made?</a></li>
          <li class="header__item"><a class="header__link" href="">Our products</a></li>
          <li class="header__item"><a class="header__link" href="">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
