<div class="mobile-menu" data-menu id="mobile-menu">
  <div class="mobile-menu-content">
    <button type="button" class="mobile__btn">
      Buy now<svg class="mobile-menu-icon">
        <use href="./images/symbol-defs.svg#short-arrow-red"></use>
      </svg>
    </button>
    <nav>
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link current" href="./index.html">Home</a>
        </li>
        <li class="header__item"><a class="header__link" href="./index.html">About us</a></li>
        <li class="header__item">
          <a class="header__link" href="#how">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#products">Our products</a>
        </li>
        <li class="header__item"><a class="header__link" href="#Contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
