<!-- Модальное окно -->
<div class="backdrop is-hidden" data-modal-ice-cream>
  <div class="modal">
    <div class="wrapper-modal wrapper-modal--ice">
      <button type="button" class="modal__btn" data-modal-close-ice-cream>
        <svg class="modal__icon">
          <use href="./images/symbol-defs.svg#close-black"></use>
        </svg>
      </button>
      <h3 class="products__title-label products__title-label--white">ice cream</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </div>
  </div>
</div>
<div class="backdrop is-hidden" data-modal-coffee>
  <div class="modal modal--coffee">
    <div class="wrapper-modal wrapper-modal--coffee">
      <button type="button" class="modal__btn" data-modal-close-coffee>
        <svg class="modal__icon">
          <use href="./images/symbol-defs.svg#close-black"></use>
        </svg>
      </button>
      <h3 class="products__title-label products__title-label--white">ice cream</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </div>
  </div>
</div>
<div class="backdrop is-hidden" data-modal-milkshakes>
  <div class="modal modal--milkshakes">
    <div class="wrapper-modal wrapper-modal--milkshakes">
      <button type="button" class="modal__btn" data-modal-close-milkshakes>
        <svg class="modal__icon">
          <use href="./images/symbol-defs.svg#close-black"></use>
        </svg>
      </button>
      <h3 class="products__title-label products__title-label--white">ice cream</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </div>
  </div>
</div>
