<section class="products" id="products">
  <div class="container">
    <p
      class="products__title-label wow tada"
      data-wow-offset="200"
      data-wow-duration="2s"
      data-wow-delay="0.3s"
    >
      100% natural
    </p>
    <h2 class="products__title">Products</h2>
    <ul
      class="products__list wow pulse"
      data-wow-offset="100"
      data-wow-duration="2s"
      data-wow-delay="2s"
    >
      <li class="products__item wow slideInLeft" data-wow-offset="100" data-wow-duration="2s">
        <div class="wrapper-products">
          <h3 class="products__title-label products__title-label--white">ice cream</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn" data-modal-open-ice-cream>
            <svg class="products__icon">
              <use href="./images/symbol-defs.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="wrapper-products">
          <h3 class="products__title-label products__title-label--white">ice coffee</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn" data-modal-open-coffee>
            <svg class="products__icon">
              <use href="./images/symbol-defs.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item wow slideInRight" data-wow-offset="100" data-wow-duration="2s">
        <div class="wrapper-products">
          <h3 class="products__title-label products__title-label--white">milkshakes</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn" data-modal-open-milkshakes>
            <svg class="products__icon">
              <use href="./images/symbol-defs.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
