<section class="reviews">
    <article class="container">
        <h2 class="visually-hidden">Customer reviews</h2>
        <div class="reviews__slider">
        <div class="slider">
            <img src="./images/photo/photo1.jpg" srcset="./images/photo/photo1@2x.jpg 2x" alt="" class="reviews__icon">
            <div class="reviews__box">
                <svg class="slider__icon">
                    <use
                        href="./images/symbol-defs.svg#quotes">
                    </use>
                </svg>
            <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <div class="slider">
            <img src="./images/photo/photo2.jpg" srcset="./images/photo/photo2@2x.jpg 2x" alt="" class="reviews__icon">
            <div class="reviews__box">
                <svg class="slider__icon">
                    <use
                        href="./images/symbol-defs.svg#quotes"
                    ></use>
                </svg>
                <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div> 
        </div>
            <div class="slider">
            <img src="./images/photo/photo3.jpg" srcset="./images/photo/photo3@2x.jpg 2x" alt="" class="reviews__icon">
            <div class="reviews__box">
                <svg class="slider__icon">
                    <use
                        href="./images/symbol-defs.svg#quotes"
                    ></use>
                </svg>
            <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        </div>
        <div class="reviews__slider-two">
            <div class="slider-two"> 
                <h3 class="reviews__name">Emily, Los Angeles</h3>
            </div>
            <div class="slider-two"> 
                <h3 class="reviews__name">Emily, Los Angeles</h3>
            </div>
            <div class="slider-two"> 
                <h3 class="reviews__name">Emily, Los Angeles</h3>
            </div> 
        </div>
    </article>
</section>