<section class="reviews">
    <article class="container">
        <h2 class="visually-hidden">Customer reviews</h2>
        <div class="reviews__slider">
            <div class="slider">
                <img src="./images/photo/evgeniya.jpg" srcset="./images/photo/evgeniya@2x.jpg 2x" alt="team lead" class="reviews__icon">
                <div class="reviews__box">
                    <svg class="slider__icon">
                        <use
                            href="./images/symbol-defs.svg#quotes"
                        ></use>
                    </svg>
                <p class="reviews__text" lang="ru">Я из тех людей, которые когда у них заболело горло, решают наесться мороженого. Не, а че терять?)))</p>
            </div> 
        </div>
            <div class="slider">
            <img src="./images/photo/dima.jpg" srcset="./images/photo/dima@2x.jpg 2x" alt="team lead" class="reviews__icon">
            <div class="reviews__box">
                <svg class="slider__icon">
                    <use
                        href="./images/symbol-defs.svg#quotes"
                    ></use>
                </svg>
                <p class="reviews__text" lang="ru">Морожко объединяет детей маленьких и больших )) всем по морожку!!</p>
            </div> 
        </div>
            <div class="slider">
            <img src="./images/photo/anna.jpg" srcset="./images/photo/anna@2x.jpg 2x" alt="" class="reviews__icon">
            <div class="reviews__box">
                <svg class="slider__icon">
                    <use
                        href="./images/symbol-defs.svg#quotes"
                    ></use>
                </svg>
            <p class="reviews__text">After the biggest and fattest steak with a big dark beer, there is always place for a mango ice cream!</p>
            </div>
        </div>
        <div class="slider">
            <img src="./images/photo/vika.jpg" srcset="./images/photo/vika@2x.jpg 2x" alt="team lead" class="reviews__icon">
            <div class="reviews__box">
                <svg class="slider__icon">
                    <use
                        href="./images/symbol-defs.svg#quotes"
                    ></use>
                </svg>
                <p class="reviews__text" lang="ua">У всьому світі щороку споживається близько 15 мільярдів літрів морозива. Цього достатньо, щоб заповнити 5000 олімпійських басейнів. Чудова бізнес ідея для гурманів)</p>
            </div>
        </div> 
            <div class="slider">
                <img src="./images/photo/bohdan.jpg" srcset="./images/photo/bohdan@2x.jpg 2x" alt="team lead" class="reviews__icon">
                <div class="reviews__box">
                    <svg class="slider__icon">
                        <use
                            href="./images/symbol-defs.svg#quotes"
                        ></use>
                    </svg>
                    <p class="reviews__text" lang="ua">Морозиво це зло!!!! А зло потрібно знищувати))) Як добре, що у цього світу є такий герой як я із супер силою жрать і не товстіть)) то ж несіть все знищу із задоволенням</p>
                </div> 
        </div>
        </div>
        <div class="reviews__slider-two">
            <div class="slider-two"> 
                <h3 class="reviews__name">Evgeniya, Kharkiv, favorite ice cream chokoladnoe</h3>
            </div>
            <div class="slider-two"> 
                <h3 class="reviews__name">Dmitriy, Arabatskaya Strelka, favorite ice cream mangovoe</h3>
            </div>
            <div class="slider-two"> 
                <h3 class="reviews__name">Anna, Praha, favorite ice cream mangovoe</h3>
            </div>
            <div class="slider-two"> 
                <h3 class="reviews__name">Vika, Vinnytsia, favorite ice cream malinovoe</h3>
            </div>
            <div class="slider-two"> 
                <h3 class="reviews__name">Bohdan, Chernihiv, favorite ice cream bananovoe</h3>
            </div>
        </div>
    </article>
</section>