.header {
  background-color: $hero-bg-color;
  // max-height: 502px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

//   @media screen and (min-width: 768px) {
//     max-height: 399px;
//   }

//   @media screen and (min-width: 1200px) {
//     max-height: 665px;
//   }
// }

.header-group {
  display: flex;

  @media screen and (min-width: 1200px) {
    margin-left: 65px;
  }
}

.menu {
  margin-left: 50px;
  margin-top: 15px;
}

.header_menu {
  display: flex;
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
}

.header-name {
  position: absolute;
  top: 95px;
  right: 60px;
  z-index: 5;

  @media screen and (min-width: 768px) {
    right: 540px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    right: 733px;
    top: 104px;
  }
}
.header_title {
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.13;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.15;
  }
}

.header_title-span {
  font-size: 48px;
  color: $title-text-color;

  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}

.header_background-image {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 410px;
  position: relative;

  @media screen and (min-width: 1200px) {
    height: 557px;
  }
}

.ice-cream {
  position: absolute;
  left: 87px;
  top: 0;
  width: 171px;
  height: 410px;

  @media screen and (min-width: 768px) {
    left: 300px;
    top: 72px;
    width: 143px;
    height: 336px;
  }

  @media screen and (min-width: 1200px) {
    left: 550px;
    top: 153px;
    width: 236px;
    height: 557px;
  }
}

.header_list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  @media screen and (max-width: 1199.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    left: 333px;
    display: flex;
    top: 50px;
    z-index: 3;
  }
}

.header_link {
  @extend%link;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $primary-text-color;
}

@media screen and (min-width: 1200px) {
  .header__list-margin:not(:last-child) {
    margin-right: 35px;
  }
}

.current {
  color: $title-text-color;
}

.header_button-first {
  width: 159px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid transparent;
  background-color: $primary-text-color;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $title-text-color;
  padding-right: 53px;
  padding-left: 37px;

  position: absolute;
  top: 45px;
  right: 34px;
  &:hover,
  &:focus {
    background-color: $white-button-hover;
  }

  @media screen and (max-width: 767.98px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    top: 40px;
    right: 100px;
  }
}

.icon {
  position: absolute;
  right: 29px;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}
.header-name_btn {
  @extend%list;
  display: flex;
  margin-top: 10px;
}
.header_button {
  border-radius: 20px;
  border: 1px solid transparent;
  width: 62.4px;
  height: 24px;
  background-color: $title-text-color;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $primary-text-color;
  z-index: 3;
  &:hover,
  &:focus {
    background-color: $red-button-hover;
  }
  @media screen and (min-width: 1200px) {
    width: 104px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.header-btn {
  width: 82.8px;
  color: $title-text-color;
  background-color: $primary-text-color;
  margin-left: 8px;
  &:hover,
  &:focus {
    background-color: $white-button-hover;
  }
  @media screen and (min-width: 1200px) {
    width: 138px;
    height: 40px;
  }
}

.header_logo {
  margin-bottom: 36px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 37px;
    left: 34px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 37px;
    left: 46px;
  }
}

.navigation {
  padding-top: 6px;
}

.menu__btn {
  display: block;
  width: 25px;
  height: 20px;
  border: none;
  outline: none;
  border-top: 1.5px solid $title-text-color;
  border-bottom: 1.5px solid $title-text-color;
  background-color: transparent;
  position: relative;
  padding: 0;
  z-index: 3;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 57px;
    right: 226px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu__btn::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: $title-text-color;
  right: 0;
  padding: 0;
}

.header_circle {
  position: absolute;
  left: 0;
  top: 0;
  background-color: $hero-accent-bg-color;
  border: 1px solid $hero-accent-bg-color;
  height: 346px;
  width: 346px;
  border-radius: 400%;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;

  @media screen and (min-width: 768px) {
    background-color: $hero-accent-bg-color;
    border: 1px solid $hero-accent-bg-color;
    height: 324px;
    width: 322px;
    border-radius: 400%;
    position: absolute;
    left: 268px;
    top: 20px;
  }

  @media screen and (min-width: 1200px) {
    background-color: $hero-accent-bg-color;
    border: 1px solid $hero-accent-bg-color;
    height: 450px;
    width: 450px;
    border-radius: 400%;
    position: absolute;
    left: 400px;
    top: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .header-foto {
    display: none;
  }
}

.header-foto {
  position: absolute;
  left: 0;
  bottom: 28px;

  @media screen and (min-width: 1200px) {
    left: 0;
    bottom: 45px;
  }
}

.header_text {
  display: inline-block;
  position: absolute;
  bottom: 85px;
  left: 130px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: $primary-text-color;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    bottom: 105px;
    left: 194px;
    font-size: 14px;
    line-height: 1.42;
  }
}

.header_girl {
  position: absolute;
  right: 0;
  top: 276px;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    right: 0;
    top: 423px;
  }
}

.icon-arrow {
  width: 9px;
  height: 10px;
  fill: #d41443;
  padding-bottom: 4px;
  padding-right: 3px;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    width: 11px;
    height: 12px;
    padding-bottom: 0;
    padding-right: 0;
  }
}

.button-arrow {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $primary-text-color;
  border: transparent;
  display: inline-block;
  left: 130px;
  position: absolute;
  bottom: 60px;

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .button-arrow {
    width: 30px;
    height: 30px;
    left: 190px;
    bottom: 60px;
  }
}

.icon-elipse {
  position: absolute;
  right: 0;
  top: 94px;

  width: 16px;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    width: 30px;
    right: 0;
    top: 135px;
  }
}

.icon-elipse-two {
  top: 95px;

  @media screen and (min-width: 1200px) {
    top: 180px;
  }
}

.number {
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;

  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $title-text-color;

  position: absolute;
  top: 105px;
  right: 6px;
  z-index: 3;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 1.15;
    top: 140px;
    right: 11px;
  }
}

.number-two {
  top: 164px;

  @media screen and (min-width: 1200px) {
    top: 245px;
  }
}

.text {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: $primary-text-color;

  position: absolute;
  top: 135px;
  right: 6px;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
    top: 195px;
    right: 11px;
  }
}

.text-second {
  top: 195px;

  @media screen and (min-width: 1200px) {
    top: 301px;
  }
}

// @media screen and (max-width: 1200px) {
//   .header-foto {
//   }
// }
// @-webkit-keyframes pulsing {
//   0% {
//     -webkit-transform: scale(0.5, 0.5);
//     transform: scale(0.5, 0.5)
//   }
//   50% {
//     -webkit-transform: scale(1.0, 1.0);
//     transform: scale(1.0, 1.0);
//   }
//   100% {
//     -webkit-transform: scale(0.5, 0.5);
//     transform: scale(0.5, 0.5);
//   }
// }

// @keyframes pulsing {
//   0% {
//     -webkit-transform: scale(0.5, 0.5);
//     transform: scale(0.5, 0.5)
//   }
//   50% {
//     -webkit-transform: scale(1.0, 1.0);
//     transform: scale(1.0, 1.0);
//   }
//   100% {
//     -webkit-transform: scale(0.5, 0.5);
//     transform: scale(0.5, 0.5);
//   }
// }
