.header {
  background-color: $hero-bg-color;
  max-height: 502px;
  position: relative;

  @media screen and (max-width: 1200px) {
    max-height: 665px;
  }
}

.header-desktop {
  display: flex;
}

.menu {
  margin-top: 15px;
  margin-left: 61px;
}

.header_menu {
  display: flex;
}

.header_title {
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-text-color;
  position: absolute;
  top: 87px;


  @media screen and (max-width: 1200px) {
    font-size: 38px;
    line-height: 1.15;
    top:54px;
  
  }
}

.header_background-image {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 410px;

  @media screen and (min-width: 1200px) {
    margin-top: 20px;
    height: 557px;
  }
}

.ice-cream {
  position: absolute;
  margin-left: 100px;
  bottom:0;

  @media screen and (min-width: 1200px) {
  right:183px;
    
    
  }
}

.header_title-span {
  font-size: 48px;
  color: $title-text-color;
}

.header_list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    position:absolute;
    left:333px;
    display: flex;
    margin-top: 50px;
    z-index:3;
  }
}

.header_list-contacts {
    font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $primary-text-color;
}

@media screen and (min-width: 1200px) {
  .header__list-margin:not(:last-child) {
    margin-right: 35px;
  }
}

.current {
  color: $title-text-color;
}

.header_button-first {
  width: 159px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid transparent;
  background-color: $primary-text-color;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $title-text-color;
  padding-right:37px;
  padding-left:37px;

position:absolute;
  top: 38px;
  right: 115px;

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.header_button {
  border-radius: 20px;
  border: 1px solid transparent;
  width: 62.4px;
  height: 24px;
  background-color: $title-text-color;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $primary-text-color;
  margin-top: 222px;
  z-index: 3;


  @media screen and (min-width: 1200px) {
    width: 104px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
    top: 238px;
  }

}

.header-btn {
  width: 82.8px;
  color: $title-text-color;
  background-color: $primary-text-color;
  margin-left: 8px;

  @media screen and (min-width: 1200px) {
    width: 138px;
    height: 40px;
  }
}

.header_logo {
  margin-bottom: 36px;

  @media screen and (min-width: 1200px) {
    position:absolute;
    top: 37px;
    left: 46px;
  }
}

.navigation {
  padding-top: 6px;
}

.menu__btn {
  display: block;
  width: 25px;
  height: 20px;
  border: none;
  outline: none;
  border-top: 1.5px solid $title-text-color;
  border-bottom: 1.5px solid $title-text-color;
  background-color: transparent;
  position: relative;
  padding: 0;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu__btn::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: $title-text-color;
  right: 0;
  padding: 0;
}

.header-group {
  display: flex;

  @media screen and (min-width: 1200px) {
    margin-left: 65px;
  }
}

.header_circle {
  position: absolute;
  margin-bottom: 75px;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;

  @media screen and (min-width: 1200px) {
    position: absolute;
    left: 475px;
    top: 52px;
  }
}

@media screen and (max-width: 320px) {
  .header-foto {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .header-foto {
    position: absolute;
    left: 77px;
    bottom: 45px;
  }
}

.header_text{
display:inline-block;
position:absolute;
bottom:102px;
left:295px;
  font-family: $main-font;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.42;
color:$primary-text-color;

@media screen and (max-width: 767.98px) {
    display: none;
  }
}

// @media screen and (max-width: 1200px) {
//   .header-foto {
//   }
// }
// @-webkit-keyframes pulsing {
//   0% {
//     -webkit-transform: scale(0.5, 0.5);
//     transform: scale(0.5, 0.5)
//   }
//   50% {
//     -webkit-transform: scale(1.0, 1.0);
//     transform: scale(1.0, 1.0);
//   }
//   100% {
//     -webkit-transform: scale(0.5, 0.5);
//     transform: scale(0.5, 0.5);
//   }
// }

// @keyframes pulsing {
//   0% {
//     -webkit-transform: scale(0.5, 0.5);
//     transform: scale(0.5, 0.5)
//   }
//   50% {
//     -webkit-transform: scale(1.0, 1.0);
//     transform: scale(1.0, 1.0);
//   }
//   100% {
//     -webkit-transform: scale(0.5, 0.5);
//     transform: scale(0.5, 0.5);
//   }
// }
